[submodule "themes/bootstrap-premium"]
	path = themes/bootstrap-premium
	url = https://github.com/appernetic/hugo-bootstrap-premium
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
