html {
  height: 100%;
}
body {
  min-height: 100vh;
  height: 100vh;
  background: none;
}
.outer-navbar-container {
}
.inner-navbar-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
}
.outer-alert-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.inner-alert-container {
    width: 90%;
    max-width: 800px;
}
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.outer-content-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    background-color: #222;
}
.inner-content-container {
    width: 100%;
    max-width: 780px;
    margin-top: 20px;
    max-height: 100%;
}
.loading-spinner-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.navbar-icon-container {
    margin-left: 5px;
    margin-right: 5px;
}
.glyph-24 {
    font-size: 24px;
}
.glyph-32 {
    font-size: 32px;
}
.glyph-36 {
    font-size: 36px;
}
.glyph-48 {
    font-size: 48px;
}
.glyph-64 {
    font-size: 64px;
}
.glyph-128 {
    font-size: 128px;
}
.default-list-item-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.home-page-component-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.home-page-component {
    width: 18rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.home-page-component-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 48px;
}
.home-page-component-title {
    margin-bottom: 0px;
    margin-left: 10px;
}
html {
    background-image: url("http://assets.cozykeys.xyz/images/cozykeys-bg.jpg");
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.list-content-container {
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
