<!DOCTYPE html>
<html>

    {{- partial "head.html" . -}}

    <body>
        <div class="background-image {{ if eq .URL "/" }}home{{end}}">
            <div class="background-overlay {{ if eq .URL "/" }}home{{end}}">

                {{- partial "header.html" . -}}

                <div class="outer-content-container ">
                    <div class="content-container">
                        <div class="inner-content-container">
                            {{- partial "breadcrumb.html" . -}}

                            {{- block "main" . -}}{{- end -}}
                        </div>
                    </div>
                </div>

                {{- partial "footer.html" . -}}

            </div>
        </div>
    </body>
</html>
