{{- define "main" -}}

    {{- .Content -}}

    <div style="width:100%;display:flex;justify-content:center;flex-wrap:wrap;">

        {{- range .Pages -}}

            <div class="card" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
                <div class="card-body">
                    <a href="{{- .URL -}}"><h5 class="card-title">{{- .Title -}}</h5></a>

                    <div>{{- dateFormat "Monday, Jan 2, 2006" .Date -}}</div>

                    <div>
                        {{- if .Params.tags -}}
                            <strong>Tags:</strong> 
                            {{- range .Params.tags -}}
                                <a href="{{- "/tags/" | relLangURL -}}{{- . | urlize -}}"> {{ . }} </a>
                            {{- end -}}
                        {{- end -}}
                    </div>

                    {{- if .Params.summary -}}
                        <p class="card-text">{{- .Params.summary -}}</p>
                    {{- end -}}

                    {{- if .Params.image -}}
                        <img style="width:100%;" src="{{- .Params.image -}}" alt="{{- .Title -}}">
                    {{- end -}}
                </div>
            </div>

        {{- end -}}

    </div>

{{- end -}}

