<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary outer-navbar-container">
    <div class="container inner-navbar-container">
        <a class="navbar-brand" href="/">CozyKeys</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  {{ if eq .Params.navActive "keyboards" }}active{{ end }}">
                    <a class="nav-link" href="/keyboards/">Keyboards</a>
                </li>
                <li class="nav-item {{ if eq .Params.navActive "builds" }}active{{ end }}">
                    <a class="nav-link" href="/builds/">Builds</a>
                </li>
                <li class="nav-item {{ if eq .Params.navActive "reviews" }}active{{ end }}">
                    <a class="nav-link" href="/reviews/">Reviews</a>
                </li>
                <li class="nav-item {{ if eq .Params.navActive "gallery" }}active{{ end }}">
                    <a class="nav-link" href="/gallery/">Gallery</a>
                </li>
                <li class="nav-item {{ if eq .Params.navActive "about" }}active{{ end }}">
                    <a class="nav-link" href="/about/">About</a>
                </li>
            </ul>
        </div>
        <div class="my-2 my-lg-0">
            <!-- TODO: Leave these commented out until we put content on these channels
            <a class="navbar-icon-container" href="https://www.instagram.com/cozykeys.xyz/">
                <i class="fab fa-instagram glyph-24"></i>
            </a>
            <a class="navbar-icon-container" href="https://twitter.com/CozyKeys">
                <i class="fab fa-twitter glyph-24"></i>
            </a>
            -->
            <a class="navbar-icon-container" href="https://github.com/cozykeys">
                <i class="fab fa-github glyph-24"></i>
            </a>
        </div>
    </div>
</nav>
